html {
    background-image: url(images/word-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

p {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;

    
}